@use 'variables' as *; //this puts all the variables in the global namespace.
@use 'atoms';
//@use 'molecules';
//@use 'organisms' as o;

* {
  box-sizing: border-box;
}
html {
  background-color: $background-color;
  padding: 5%;
}

body {
  font-family: $font-family-2;
  font-size: 85%;
  color: $font-color;
  background-color: $background-color;
  margin: 0;
  padding: 1em;

  //  h1, h2, h3, h4 {
  //   font-family: $font-family-headline;
  //  }
}
a {
  color: $accent2;
}
h1{
  color: $primary;
  background-color: $accent1;
}
h2{
  color: $accent1;
}
p .regular{
  background-color: none;
}

section {
  background-color: white;
  padding: 1em;
  margin: 1em;
}
.colors {
  @include atoms.set-flex();
  > h3 {
    width: 100%;
    flex: 1 0 100%;
  }
  > figure {
    margin: 0;
    flex: 1 1 25%;
  }
}
.swatch {
  width: 100%;
  height: 100px;
  border: 1px solid;
  background-color: $primary;
}
.primary {
  background-color: $primary;
  color: $accent1;
}
.accent1 {
  background-color: $accent1;
}
.accent2 {
  background-color: $accent2;
}
.text-dark {
  background-color: $text-dark;
}
.element {
  border: 1px solid;
  margin: 0.5em;
  padding: 1em;
}
.uppercase {
  @include atoms.uppercase;
  color: $accent1;
}
.uppercase-light {
  @include atoms.uppercase($text-light);
  background-color: $primary;
  color: $accent1;
  padding: 10px;
}