@use 'variables'as *;

// mixins to take care of repeated patterns.
@mixin uppercase-text {
    text-transform: uppercase;
    font-family: $font-family-2;
}

@mixin set-font($size: 1em, $line-height: normal, $font: $font-family-2) {
    font-family: $font;
    font-size: $size;
    line-height: $line-height;
}

@mixin set-flex($direction: row, $wrap: wrap, $spacing: center) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $spacing;
}

@mixin uppercase($color: $text-dark) {
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color;
}

@mixin divider($color: $accent1) {
    border-top: 1px solid $color;
    margin-top: 1em;
    padding-top: 1.5em;
}

// these styles here should describe how the atoms (elements) should appear most of the time.  They can be overridden at the molecule (block) as necessary
.div-wrapper {
    max-width: 95%;
    margin: auto auto;
}

h2,
h3,
h4 {
    // font-family: $fonts-headline;
    font-family: $font-family-headline;
    margin: 0;
}

h1,
h2,
h3,
p {
    transition: transform .2s;
    // max-width: 85ch;
}

h1:hover,
h2:hover,
h3:hover,
p:hover {
    transform: scale(1.1);

    @media (min-width: 576px) {
        transform: scale(1.02);
    }
}

h1 {
    // background: $accent1;
    // color: $text-light;
    display: inline-block;
    // font-weight: 900;
    margin-bottom: 1em;
    // padding: 0.5em 1em;
    font-size: 3em;
}

h2 {
    color: $text-light;
    font-weight: 900;
    /* Heavy */
    font-size: 1.6em;
    letter-spacing: 1px;
    line-height: 1em;
}

h3 {
    font-size: 1.2em;
    font-weight: 200;
    /* Thin */
    letter-spacing: 1px;
    line-height: 1em;
    padding: 0.5em 0 0.25em 0;
}

h4 {
    font-size: 1.5em;
    font-weight: 200;
    /* Thin */
    letter-spacing: 1px;
    line-height: 1em;
    margin: 0.5em 0;
}

p {
    @include set-font(1em, 1.5em);
    padding: 1em 1em;
    margin: 0;

    letter-spacing: 5px;
}

a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    // color: $text-dark;
    text-decoration: underline;
    transition: border-color 0.2s ease-in-out;
    color: $accent2 !important;
}

a:hover {
    border-color: $accent1;
}

abbr {
    text-decoration: none;
}