@use '_variables'as *;
@use '_atoms'as atoms;

footer {
    @include atoms.set-flex(row, wrap, space-around);
    gap: 10px;
    background: $footerbkg;

    a {
        color: $primary;
        transition: color 0.2s ease-in-out;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        font-weight: 700;
        width: 15%;
        border-bottom: none;
    }

    a:hover {
        cursor: pointer;
        color: $accent2;
    }
}

// use the mixins from the atoms module to compose our molecules. If you prefer the terminology 'blocks' and 'elements' feel free to use it instead!
//The base styling we made on our atoms (elements) does most of the work...here we would make any modifications on the elements if they need to appear differently in a certain molecule (block)
[role="banner"] {
    >h1 {
        // notice we have to reference the 'atoms' namespace to find our mixins.
        @include atoms.uppercase($text-light);
    }
}

.summary {
    @include atoms.uppercase($text-light);
    padding: 15% 0;

    p:last-child {
        @include atoms.divider;
    }

    a {
        color: $text-light; //in this case the link wants to be light instead of the default dark
    }
}


.intro {
    background-color: $background-color;
    color: $font-color;
    text-align: center;
}

.summary p:nth-child(2) {
    border: 10px solid $accent2;
    border-top: none;
    padding-bottom: 0.5em;
}

.intro h1 {
    padding: 0.5em;
    border: 10px solid $font-color;
}

.intro h2 {
    color: $accent2;
    border: 10px solid $accent2;
    border-bottom: none;
    padding: 2em;
}

.intro h1::before {
    background-image: $rocket-image;
    background-size: 5em 5em;
    background-repeat: no-repeat;
    display: inline-block;
    height: 5em;
    width: 5em;
    content: "";
    animation: MoveUpAndDown 5s ease-in infinite;
    position: absolute;
    left: 0;
    bottom: 0;
}

.intro h1::after {
    background-image: $rocket-image;
    background-size: 10em 10em;
    background-repeat: no-repeat;
    display: inline-block;
    height: 10em;
    width: 10em;
    content: "";
    animation: MoveUpAndDown 4s ease-in infinite;
    position: absolute;
    right: 0;
    bottom: 0;
}

@keyframes MoveUpAndDown {

    0%,
    10% {
        opacity: 0;
    }

    0%,
    100% {
        bottom: 12%;
    }

    100% {
        bottom: 89%;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.intro h2::after {
    background-image: $star-image;
    background-size: 1em 1em;
    background-repeat: no-repeat;
    display: inline-block;
    height: 1em;
    width: 1em;
    content: "";
    animation: spin 5s linear infinite;
    margin-left: 0.2em;
}

.intro h2::before {
    background-image: $star-image;
    background-size: 1em 1em;
    background-repeat: no-repeat;
    display: inline-block;
    height: 1em;
    width: 1em;
    content: "";
    animation: spin 5s linear infinite;
    margin-right: 0.2em;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.preamble h3::after {
    background-image: $star-image;
    background-size: 1em 1em;
    background-repeat: no-repeat;
    display: inline-block;
    height: 1em;
    width: 1em;
    content: "";
    animation: spin 5s linear infinite;
    margin-left: 0.2em;
}

.preamble h3::before {
    background-image: $star-image;
    background-size: 1em 1em;
    background-repeat: no-repeat;
    display: inline-block;
    height: 1em;
    width: 1em;
    content: "";
    animation: spin 5s linear infinite;
    margin-right: 0.2em;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.intro h2 {
    margin-top: 2em;
}

.preamble h3 {
    border: 10px solid $font-color;
    border-bottom: none;
    padding: 1em;
}

.preamble p:nth-child(4) {
    padding-bottom: 1em;
    border: 10px solid $font-color;
    border-top: none;
}

// .preamble {
//     background: rgba(255, 255, 255, 0.9);
//     color: $text-dark;
//     margin-left: -30%;
//     padding: 5% 5% 5% 30%;
// }


// Ryan's coding additions
aside >div {
    margin-top: 2em;
    background: $footerbkg;
    margin: auto auto;
    @include atoms.set-flex(column, wrap, center);
    
    div {
        border: 1px black solid;
        text-align: center;
        transition: all 1.5s ease-in-out;
        &:hover {
            transition: all 1.5s ease-in-out;
            box-shadow: 15px -15px 25px $background-color;
        }
        h3 {
            width: 100%;
            margin: auto auto;
            text-align: center;

            &:hover {
                transform: none;
            }
        }
    }

    @media (min-width: 576px) {
        @include atoms.set-flex(row, nowrap, center);

        div {
            width: 30%;
        }
    }
}


ul {
    padding-left:0;
    li{
    list-style: none;
    margin-block-start: 0;
    padding:0;

    a {
        color: $text-light;
    }
}
}

#zen-requirements::after {
    content:url(pnghost_video-game-game-controllers-ark-survival-evolved-gamepad-games.png);
    height:120px;
    width:auto;
    position:relative;
    bottom: 15%;
    left:85%;
    z-index: 3;
}


footer::before {
    content:url(pnghost_video-game-consoles-game-controllers-clip-art-gamepad-symbol-icon.png);
    height:120px;
    width:auto;

}
