// $fonts-headline: "arial narrow", Arial, Verdana, sans-serif;
// $fonts-body: 'astroSpace', 'edgeOfTheGalaxy', 'revamped';
$font-color: #00FF00;
$primary: #131212;
$background-color: #000;
$accent1: #00FF00;
$accent2: #3d0099;
$footerbkg: #C41E3D;
// $grey-sidebar: ;
$text-dark: #131212;
$text-light: #eeeeff;
$black: #000;

$star-image: url("star.png");
$rocket-image: url("rocket.png");

$font-family-headline: 'astroSpace';
$font-family-2: 'revamped';
$font-bold: 800;
$font-light: 300;

$fonts-path: "./fonts" !default;

$special-box: 5%;

/* In type partial */
@font-face {
    font-family: 'astroSpace';
    src: url('#{$fonts-path}/AstroSpace/AstroSpace-eZ2Bg.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'revamped';
    src: url('#{$fonts-path}/revamped/Revamped-X3q1a.ttf');
    font-weight: $font-light;
    font-style: normal;
}