/* In type partial */
@font-face {
  font-family: "astroSpace";
  src: url("./fonts/AstroSpace/AstroSpace-eZ2Bg.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "revamped";
  src: url("./fonts/revamped/Revamped-X3q1a.ttf");
  font-weight: 300;
  font-style: normal;
}
.div-wrapper {
  max-width: 95%;
  margin: auto auto;
}

h2,
h3,
h4 {
  font-family: "astroSpace";
  margin: 0;
}

h1,
h2,
h3,
p {
  transition: transform 0.2s;
}

h1:hover,
h2:hover,
h3:hover,
p:hover {
  transform: scale(1.1);
}
@media (min-width: 576px) {
  h1:hover,
h2:hover,
h3:hover,
p:hover {
    transform: scale(1.02);
  }
}

h1 {
  display: inline-block;
  margin-bottom: 1em;
  font-size: 3em;
}

h2 {
  color: #eeeeff;
  font-weight: 900;
  /* Heavy */
  font-size: 1.6em;
  letter-spacing: 1px;
  line-height: 1em;
}

h3 {
  font-size: 1.2em;
  font-weight: 200;
  /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
}

h4 {
  font-size: 1.5em;
  font-weight: 200;
  /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  font-family: "revamped";
  font-size: 1em;
  line-height: 1.5em;
  padding: 1em 1em;
  margin: 0;
  letter-spacing: 5px;
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: underline;
  transition: border-color 0.2s ease-in-out;
  color: #3d0099 !important;
}

a:hover {
  border-color: #00FF00;
}

abbr {
  text-decoration: none;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 10px;
  background: #C41E3D;
}
footer a {
  color: #131212;
  transition: color 0.2s ease-in-out;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  width: 15%;
  border-bottom: none;
}
footer a:hover {
  cursor: pointer;
  color: #3d0099;
}

[role=banner] > h1 {
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C41E3D;
}

.summary {
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #eeeeff;
  padding: 5% 0;
}
.summary a {
  color: #eeeeff;
}

.explanation h3 {
  border: 10px solid #3d0099;
  border-bottom: none;
  padding: 1em;
}

.explanation p:nth-child(3) {
  border: 10px solid #3d0099;
  border-top: none;
  margin-bottom: 2em;
}

.participation h3 {
  border: 10px solid #00FF00;
  border-bottom: none;
  padding: 1em;
}

.participation p:nth-child(4) {
  border: 10px solid #00FF00;
  border-top: none;
  margin-bottom: 2em;
}

.benefits h3 {
  border: 10px solid #3d0099;
  border-bottom: none;
  padding: 1em;
}

.benefits p:nth-child(2) {
  border: 10px solid #3d0099;
  border-top: none;
  margin-bottom: 2em;
}

.requirements h3 {
  border: 10px solid #3d0099;
  border-bottom: none;
  padding: 1em;
}

.requirements p:nth-child(6) {
  border: 10px solid #3d0099;
  border-top: none;
  margin-bottom: 2em;
}

.intro {
  background-color: #000;
  color: #00FF00;
  text-align: center;
}

.summary p:nth-child(2) {
  border: 10px solid #3d0099;
  border-top: none;
  padding-top: -20em;
}

.intro h1 {
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  color: #C41E3D;
  animation: blink 2s step-end 0s infinite;
  -webkit-animation: blink 2s step-end 0s infinite;
}

@keyframes blink {
  2% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  8% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.intro h2 {
  color: #3d0099;
  border: 10px solid #3d0099;
  border-bottom: none;
  padding: 1em;
}

.summary::before {
  background-image: url("rocket.png");
  background-size: 5em 5em;
  background-repeat: no-repeat;
  display: inline-block;
  height: 5em;
  width: 5em;
  content: "";
  animation: MoveUpAndDown 5s ease-in infinite;
  position: absolute;
  left: 0;
  bottom: 0;
}

.summary::after {
  background-image: url("rocket.png");
  background-size: 10em 10em;
  background-repeat: no-repeat;
  display: inline-block;
  height: 10em;
  width: 10em;
  content: "";
  animation: MoveUpAndDown 4s ease-in infinite;
  position: absolute;
  right: 0;
  bottom: 0;
}

@keyframes MoveUpAndDown {
  0%, 10% {
    opacity: 0;
  }
  0%, 100% {
    bottom: 12%;
  }
  100% {
    bottom: 89%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.intro h2::after {
  background-image: url("star.png");
  background-size: 1em 1em;
  background-repeat: no-repeat;
  display: inline-block;
  height: 1em;
  width: 1em;
  content: "";
  animation: spin 5s linear infinite;
  margin-left: 0.2em;
}

.intro h2::before {
  background-image: url("star.png");
  background-size: 1em 1em;
  background-repeat: no-repeat;
  display: inline-block;
  height: 1em;
  width: 1em;
  content: "";
  animation: spin 5s linear infinite;
  margin-right: 0.2em;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.preamble h3::after {
  background-image: url("star.png");
  background-size: 1em 1em;
  background-repeat: no-repeat;
  display: inline-block;
  height: 1em;
  width: 1em;
  content: "";
  animation: spin 5s linear infinite;
  margin-left: 0.2em;
}

.preamble h3::before {
  background-image: url("star.png");
  background-size: 1em 1em;
  background-repeat: no-repeat;
  display: inline-block;
  height: 1em;
  width: 1em;
  content: "";
  animation: spin 5s linear infinite;
  margin-right: 0.2em;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.intro h2 {
  text-align: end;
}

@media only screen and (min-width: 500px) {
  .intro h2 {
    text-align: center;
  }
}
.preamble h3 {
  border: 10px solid #00FF00;
  border-bottom: none;
  padding: 1em;
}

.preamble p:nth-child(4) {
  padding-bottom: 1em;
  border: 10px solid #00FF00;
  border-top: none;
}

aside > div {
  margin-top: 2em;
  background: #C41E3D;
  margin: auto auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
aside > div div {
  border: 1px black solid;
  text-align: center;
  transition: all 1.5s ease-in-out;
}
aside > div div:hover {
  transition: all 1.5s ease-in-out;
  box-shadow: 15px -15px 25px #000;
}
aside > div div h3 {
  width: 100%;
  margin: auto auto;
  text-align: center;
}
aside > div div h3:hover {
  transform: none;
}
@media (min-width: 576px) {
  aside > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  aside > div div {
    width: 30%;
  }
}

ul {
  padding-left: 0;
}
ul li {
  list-style: none;
  margin-block-start: 0;
  padding: 0;
}
ul li a {
  color: #eeeeff;
}

#zen-requirements {
  height: 75%;
  margin-top: -125px;
}
#zen-requirements::before {
  content: url(pnghost_video-game-game-controllers-ark-survival-evolved-gamepad-games.png);
  zoom: 0.1;
  height: 0;
  position: relative;
  left: 27%;
  z-index: 3;
}
@media (min-width: 576px) {
  #zen-requirements::before {
    left: 28%;
  }
}

.benefits {
  margin-bottom: -150px;
}
.benefits::after {
  content: url(pnghost_video-game-consoles-game-controllers-clip-art-gamepad-symbol-icon.png);
  zoom: 0.25;
  position: relative;
  width: 0;
  height: 0;
  right: 25%;
}

.extra1 {
  content: url(video-game-characters-png-7.png);
  margin: auto auto;
  width: 50%;
}

body {
  background: #131212;
  color: white;
}
body > * {
  margin: 10px;
}

.main {
  padding: 5% 0;
  background: #000;
}

.main div {
  margin-bottom: 10px;
  color: #00FF00;
  text-align: center;
}
.main div h3 {
  text-align: center;
}
.main div a {
  color: #3d0099;
}

/*# sourceMappingURL=style.css.map */
