@use 'molecules';
@use 'atoms';
@use 'organisms' as o;
@use 'variables';
/* In type partial */
@font-face {
  font-family: 'astroSpace';
  src: url("../fonts/AstroSpace/AstroSpace-eZ2Bg.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'revamped';
  src: url("Zen-Garden/fonts/revamped/revamped/Revamped-X3q1a.ttf");
  font-weight: 300;
  font-style: normal;
}

.intro {
  background-color: #000;
  color: #00FF00;
  text-align: center;
}

.summary p:nth-child(2) {
  border: 10px solid blue;
  border-top: none;
  padding-bottom: 0.5em;
}

.intro h1 {
  padding: 0.5em;
  border: 10px solid #00FF00;
}

.intro h2 {
  color: blue;
  border: 10px solid blue;
  border-bottom: none;
  padding: 2em;
}

.intro h1::before {
  background-image: url("rocket.png");
  background-size: 2em 2em;
  background-repeat: no-repeat;
  display: inline-block;
  height: 2em;
  width: 2em;
  content: "";
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
  -webkit-animation: MoveUpAndDown 3s ease-in infinite;
          animation: MoveUpAndDown 3s ease-in infinite;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 1em;
}

.intro h1::after {
  background-image: url("rocket.png");
  background-size: 2em 2em;
  background-repeat: no-repeat;
  display: inline-block;
  height: 2em;
  width: 2em;
  content: "";
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
  -webkit-animation: MoveUpAndDown 3s ease-in infinite;
          animation: MoveUpAndDown 3s ease-in infinite;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 1em;
}

@-webkit-keyframes MoveUpAndDown {
  0%, 10% {
    opacity: 0;
  }
  0%, 100% {
    bottom: 12%;
  }
  100% {
    bottom: 89%;
  }
}

@keyframes MoveUpAndDown {
  0%, 10% {
    opacity: 0;
  }
  0%, 100% {
    bottom: 12%;
  }
  100% {
    bottom: 89%;
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.intro h2::after {
  background-image: url("star.png");
  background-size: 1em 1em;
  background-repeat: no-repeat;
  display: inline-block;
  height: 1em;
  width: 1em;
  content: "";
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
  margin-left: 0.2em;
}

.intro h2::before {
  background-image: url("star.png");
  background-size: 1em 1em;
  background-repeat: no-repeat;
  display: inline-block;
  height: 1em;
  width: 1em;
  content: "";
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
  margin-right: 0.2em;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.preamble h3::after {
  background-image: url("star.png");
  background-size: 1em 1em;
  background-repeat: no-repeat;
  display: inline-block;
  height: 1em;
  width: 1em;
  content: "";
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
  margin-left: 0.2em;
}

.preamble h3::before {
  background-image: url("star.png");
  background-size: 1em 1em;
  background-repeat: no-repeat;
  display: inline-block;
  height: 1em;
  width: 1em;
  content: "";
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
  margin-right: 0.2em;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.intro h2 {
  margin-top: 2em;
}

.preamble h3 {
  border: 10px solid #00FF00;
  border-bottom: none;
  padding: 1em;
}

.preamble p:nth-child(4) {
  padding-bottom: 1em;
  border: 10px solid #00FF00;
  border-top: none;
}

@use '_molecules';
@use '_atoms';
@use '_organisms'as o;
@use '_variables';
/*# sourceMappingURL=style.css.map */